#main{
	width:1660px;
	height:1400px;
	margin:auto;
}
#head{
	width: 1660px;
	height:120px;
	margin:auto;
	margin-bottom:50px;
}
#head>div{
	width:1170px;
	height:120px;
	margin:auto;
}
#head>div>span{
	display:inline-block;
	width:150px;
	height:20px;
	font:normal normal bold 80px "楷体";
	color:black;
	padding-top:20px;
	padding-left:380px;
}
#middle{
	width:100%;
	height:600px;
/*	background-image:*/
}
#wz{
	width:1170px;
	height:600px;
	margin:auto;
}
#left-pic>img{
	width:500px;
	height:600px;
	margin-top:50px;
}
#row{
	width:500px;
	height:600px;
	padding-top:90px;
}
table{
	width:400px;
	height:500px;
}
table input{
	width:220px;
	height:25px;
	background-image:linear-gradient(to top,#fff,#f5f5f5);
}
form table tr td{
	font-size:23px;
}
#gender{
	width:120px;
	height:30px;
}
#btn{
	width:200px;
	height:30px;
	border-radius:28px;
	background:#15B4E8;
}
#btn:hover{
	color:white;
	cursor:pointer;
}
#foot{
	width:100%;
	height:50px;
	text-align:center;
	line-height:50px;
	font-weight:bold;
}
